body {
    background-color: rgb(20,40,65);
    font-family: Ubuntu, Helvetica, sans-serif;
}

.article {
    border-color: rgb(90,140,230);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    
    background-color: rgb(60,105,145);
    
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding: 5px;
}

.article .title {
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.article .title a:link, .article .title a:visited {
    color: rgb(230,240,245);
    text-decoration: none;
}

.article .title a:hover {
    color: rgb(230,240,245);
    text-decoration: underline;
}

.article .inner {
    background-color: rgb(230,240,245);
    border-radius: 3px;
    color: rgb(5,10,24);
}

.article .headers {
    background-color: rgb(200,220,235);
    padding: 10px;
}

.article .header {
    font-size: 12px;
    color: rgb(20,40,65);
}

.article .header .key {
    display: inline-block;
    width: 80px;
}

.article .header .value {
    display: inline-block;
}

.article .body {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.article .body h1 {
    border-bottom-width: 2px;
    border-bottom-color: rgb(90,140,230);
    border-bottom-style: dashed;
    color: rgb(20,40,65);
}

#previews {
    
}

.preview {
    display: none;
    border-color: rgb(90,140,230);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    
    background-color: rgb(60,105,145);
    width: 400px;
    height: 100px;
    
    color: rgb(200,220,235);
    padding: 10px;
}

.preview.active {
    display: block;
}
