body {
    background-color: rgb(20,40,65);
    font-family: Ubuntu, Helvetica, sans-serif;
    padding-bottom: 80px;
}

.blue {
    color: rgb(90,140,230);
}

.gold {
    color: rgb(230,182,91);
}

#logo {
    text-align: center;
    margin-bottom: -50px;
}

#sections {
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 30px;
    margin-left: -55px;
    font-size: 24px;
}

#sections a:link,
#sections a:visited {
    color: rgb(90,140,230);
    text-decoration: none;
}

#sections a:hover {
    color: rgb(140,190,230);
}

#tagline {
    position: relative;
    color: rgb(90,140,230);
    margin: auto;
    max-width: 570px;
    right: 60px;
    font-size: 32px;
    margin-bottom: 40px;
}

#tagline .require {
    color: rgb(140,190,230);
}

#tagline .require .string {
    color: rgb(230,182,91);
}

#search {
    display: none;
}

#search .box {
    max-width: 694px;
    margin: auto;
    padding-left: 60px;
}

#search h1 {
    margin-top: -25px;
    margin-bottom: 0px;
    color: rgb(90,140,230);
}

#search form {
    border-color: rgb(90,140,230);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    
    background-color: rgb(60,105,145);
    
    padding: 5px;
}

#search form input.query {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border-width: 0px;
}

#search .browse {
    display: none;
}

#search .result {
    max-width: 795px;
    margin: auto;
    margin-bottom: 5px;
}

#search .result .inner {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    border-radius: 5px;
    
    color: rgb(200,220,235);
    background-color: rgb(20,30,49);
}

#search .featured .result .inner {
    color: rgb(109,75,45);
    background-color: rgb(230,182,91);
}

#search .featured .result a:link,
#search .featured .result a:visited {
    color: rgb(20,40,65);
}

#search .testling .result .inner {
    color: rgb(200,220,235);
    border-color: rgb(90,140,230);
    background-color: rgb(35, 59, 109);
}

#search .npm .result .inner {
    vertical-align: top;
}

#search .result a:link,
#search .result a:visited {
    color: rgb(230,182,91);
    text-decoration: none;
}

#search .result a:hover {
    text-decoration: underline;
}

#search .result .icons {
    display: inline-block;
    width: 70px;
    margin-top: 10px;
    margin-right: 5px;
    vertical-align: middle;
    text-align: right;
}

#search .result .icons img {
    display: none;
    border-width: 0px;
    margin-bottom: 10px;
    vertical-align: top;
}

#search .result .icons a:hover {
    text-decoration: none;
}

#search .result .icons a:hover img {
    background-color: rgb(90,140,230);
    box-shadow: 0px 0px 10px rgb(90,140,230);
    border-radius: 3px;
    padding: 2px;
    margin: -2px;
}

#search .result .icons .npm img {
    display: inline;
}

#search .result .middle {
    display: inline-block;
    width: 405px;
    vertical-align: top;
}

#search .result .badge {
    display: inline-block;
    width: 262px;
    vertical-align: top;
}

#search .result .badge img {
    border-width: 0px;
}

#search .npm .badge a {
}

#splash {
    color: rgb(200,220,235);
}

#splash h1 {
    max-width: 600px;
    color: rgb(140,190,230);
    margin: auto;
    margin-top: 10px;
}

.filename {
    width: 580px;
    margin: auto;
    margin-bottom: -4px;
    margin-top: -15px;
    padding-right: 20px;
    text-align: right;
    color: rgb(90,140,230);
}

.code {
    border-color: rgb(90,140,230);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    
    width: 600px;
    padding: 5px;
    
    color: rgb(200,220,235);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    font-family: monospace;
    font-size: 1.2em;
    
    background-color: rgb(20,30,49);
}

.code .require {
    color: rgb(90,140,230);
}

.code .require .string {
    color: rgb(230,182,91);
}

#splash .step {
    max-width: 600px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#splash .step a:link,
#splash .step a:visited {
    color: rgb(90,140,230);
    text-decoration: none;
}

#splash .step a:hover {
    color: rgb(230,182,91);
}

#splash .step ul {
    list-style-image: url(/images/fireball.png);
}

#splash .step li {
    margin-bottom: 1em;
}

#splash .step li .badge {
    margin-top: 1em;
}

#splash .badge img {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(20,30,49);
    border-radius: 10px;
}

#article-box {
    display: none;
}

.article {
    border-color: rgb(90,140,230);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    
    background-color: rgb(60,105,145);
    
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 2em;
    
    padding: 5px;
}

.article.summary {
    position: relative;
}

.article.summary .inner {
    max-height: 300px;
    overflow-y: hidden;
}

.article .fade {
    display: none;
}

.article.summary .fade {
    display: block;
    height: 100px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    
    /* chrome and safari */
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1.0), rgba(255,255,255,0));
    /* ff 3.6 - 15 */
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,1.0), rgba(255,255,255,0));
    
    /* standard */
    background-image: linear-gradient(to top, rgba(255,255,255,1.0), rgba(255,255,255,0));
}

.article .title {
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.article .title a:link,
.article .title a:visited {
    color: rgb(230,240,245);
    text-decoration: none;
}

.article .title a:hover {
    color: rgb(230,240,245);
    text-decoration: underline;
}

.article > .inner {
    background-color: rgb(230,240,245);
    border-radius: 3px;
    color: rgb(5,10,24);
}

.article .headers {
    background-color: rgb(200,220,235);
    padding: 10px;
}

.article .header {
    font-size: 12px;
    color: rgb(20,40,65);
}

.article .header .key {
    display: inline-block;
    width: 80px;
}

.article .header .value {
    display: inline-block;
}

.article .body {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.article .body h1 {
    border-bottom-width: 2px;
    border-bottom-color: rgb(90,140,230);
    border-bottom-style: dashed;
    color: rgb(20,40,65);
}

#preview-box {
    max-width: 650px;
    margin: auto;
    margin-top: 40px;
}

#preview-box .hat {
    display: inline-block;
    vertical-align: middle;
    margin-left: -10px;
    margin-bottom: -20px;
}

#previews {
    position: relative;
    display: inline-block;
}

.preview {
    position: relative;
    display: none;
}

.preview > .inner {
    border-color: rgb(90,140,230);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    
    background-color: rgb(35, 59, 109);
    width: 400px;
    
    color: rgb(200,220,235);
    padding: 10px;
}

.preview.active {
    display: block;
}

.preview a:link,
.preview a:visited {
    color: rgb(200,220,235);
    text-decoration: none;
}

.preview a:hover {
    color: white;
    text-decoration: underline;
}

.preview .label {
    color: rgb(140,190,230);
    font-size: 1.3em;
    margin-left: 5px;
    margin-bottom: 12px;
}

.preview .arrows {
    position: absolute;
    bottom: 20px;
    right: 15px;
}

.preview .arrow {
    display: inline-block;
    width: 0px; 
    height: 0px; 
}

.preview .arrow:hover {
    cursor: pointer;
}

.preview .left.arrow {
    margin-right: -15px;
    border-left: 15px solid rgb(200,220,235);
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.preview .left.arrow:hover {
    border-left-color: white;
}

.preview .right.arrow {
    margin-left: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid rgb(200,220,235);
    border-bottom: 15px solid transparent;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.preview .right.arrow:hover {
    border-right-color: white;
}

.preview .index {
    color: rgb(230,182,91);
}

#clone {
    width: 600px;
    text-align: center;
    padding: 5px;
    
    color: rgb(140,190,230);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#banner {
    text-align: center;
    margin-top: 50px;
}

#banner img {
    border-width: 0px;
}
