body {
    background-color: rgb(20,40,65);
    font-family: Ubuntu, Helvetica, sans-serif;
}

body > h1 {
    color: rgb(230,240,245);
    text-align: center;
}

#logo {
    text-align: center;
}

#sections {
    display: inline-block;
    width: 400px;
    color: rgb(60,105,145);
    font-size: 24px;
}

.article {
    border-color: rgb(90,140,230);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    
    background-color: rgb(60,105,145);
    
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding: 5px;
}

.article .title {
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.article .title a:link, .article .title a:visited {
    color: rgb(230,240,245);
    text-decoration: none;
}

.article .title a:hover {
    color: rgb(230,240,245);
    text-decoration: underline;
}

.article .inner {
    background-color: rgb(230,240,245);
    border-radius: 3px;
    color: rgb(5,10,24);
}

.article .headers {
    background-color: rgb(200,220,235);
    padding: 10px;
}

.article .header {
    font-size: 12px;
    color: rgb(20,40,65);
}

.article .header .key {
    display: inline-block;
    width: 80px;
}

.article .header .value {
    display: inline-block;
}

.article .body {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.article .body h1 {
    border-bottom-width: 2px;
    border-bottom-color: rgb(90,140,230);
    border-bottom-style: dashed;
    color: rgb(20,40,65);
}

#previews {
    position: relative;
    display: inline-block;
}

.preview {
    display: none;
    border-color: rgb(90,140,230);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    
    background-color: rgb(60,105,145);
    width: 400px;
    height: 50px;
    
    color: rgb(200,220,235);
    padding: 10px;
}

.preview.active {
    display: block;
}

.preview a:link, .preview a:visited {
    color: rgb(200,220,235);
    text-decoration: none;
}

.preview a:hover {
    color: white;
    text-decoration: underline;
}

.preview .label {
    color: rgb(140,190,230);
}

.preview .arrows {
    position: absolute;
    bottom: 20px;
    right: 15px;
}

.preview .arrow {
    display: inline-block;
    width: 0px; 
    height: 0px; 
}

.preview .arrow:hover {
    cursor: pointer;
}

.preview .left.arrow {
    margin-right: -15px;
    border-left: 15px solid rgb(200,220,235);
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.preview .left.arrow:hover {
    border-left-color: white;
}

.preview .right.arrow {
    margin-left: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid rgb(200,220,235);
    border-bottom: 15px solid transparent;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.preview .right.arrow:hover {
    border-right-color: white;
}

#clone-me {
    border-color: rgb(90,140,230);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    
    width: 600px;
    text-align: center;
    padding: 5px;
    
    color: rgb(140,190,230);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#clone-me .code {
    color: white;
    font-family: monospace;
    font-size: 18px;
}

#start {
    color: white;
}
